### https://raw.github.com/github/gitignore/f31b319dca10213163411cb710c27dc37ed3eac5/Global/osx.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### https://raw.github.com/github/gitignore/f31b319dca10213163411cb710c27dc37ed3eac5/ruby.gitignore

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
### https://raw.github.com/github/gitignore/f31b319dca10213163411cb710c27dc37ed3eac5/node.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

