body {
    font-family: "Helvetica Neue","Helvetica";
}

h1 {
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 200;
    margin: 0;
}

#app-container {
    width: 100%;
}

p {
    color: #666;
    font-weight: 200;
}

.intro p {
    margin: 0;
}

.control {
    margin: 0 auto;
    margin-top: 5px;
}

#url {
    width: 60%;
    padding: 10px;
    font-size: 1.2em;
}

#btn-screenshot {
    margin-left: 10px;
    font-size: 1.2em;
    padding: 10px;

  outline: none;
  color: #333;
  border: 1px solid #d4d4d4;
  border-bottom-color: #bcbcbc;
  display: inline-block;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #eaeaea;
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: moz-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repat-x;
}

#result {
    margin-top: 1.2em;
    border-top: 1px solid #ccc;
}

#result img {
    max-width: 320px;
    border: 1px solid #999;
    display: block;
    margin: 1em;
}

label {
    color: #666;
}